@model UniversityApplicationFinal.Models.UniversityModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center"; style="color:blue>Create New University</h1>



<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniversityName" class="control-label"></label>
                <input id="check" asp-for="UniversityName" class="form-control" />
                <span asp-validation-for="UniversityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffiliatedUnder" class="control-label"></label>
                <input asp-for="AffiliatedUnder" class="form-control" />
                <span asp-validation-for="AffiliatedUnder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedYear" class="control-label"></label>
                <input asp-for="EstablishedYear" class="form-control" />
                <span asp-validation-for="EstablishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" asp-action="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#check").blur(function() {
            $.ajax({
                method: "GET",
                url: "/University/UniversityAvailable",
                data: { "university": $("#check").val() },

                success: function(response) {
                    alert(response);

                },
                failure: function(response) {

                },
                error: function(response) {

                }
            });
        });
    });


</script>