@model UniversityApplicationFinal.Models.UniversityModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center"; style="color:blue >Edit University</h1>


<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UniversityName" class="control-label"></label>
                <input asp-for="UniversityName" class="form-control" />
                <span asp-validation-for="UniversityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffiliatedUnder" class="control-label"></label>
                <input asp-for="AffiliatedUnder" class="form-control" />
                <span asp-validation-for="AffiliatedUnder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedYear" class="control-label"></label>
                <input asp-for="EstablishedYear" class="form-control" />
                <span asp-validation-for="EstablishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-action="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
